@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Cinzel:wght@400;600;900&family=Titillium+Web:wght@400;600;700&display=swap');

.titulo {
    color: white;
    font-family: 'Cinzel Decorative', 'Gill Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 61px;
    text-align: center;
}

.top {
    
    width: auto;
    height: auto;
    left: 0px;
    top: 0px;
    background: #BEDAFF;
}

.Medio {
    font-family: 'Cinzel Decorative';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 61px;
    color: #143653;
    text-align: center;

}

.destaque-destacoso {

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Cinzel';
   
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    color: #000000;
    text-align: center;
    margin: 0, auto;
}

.dts {
    
    font-family: 'Cinzel';
    font-weight: 400;
    font-size: 30px;
    color: #000000;
}

.circulo {
    width: 296px;
    height: 285px;
    left: 79px;
    top: 1168px;
    background: #BEDAFF;
    border-radius: 180px;
}
.fundo{
    height: 130px;
    left: 0px;
    top: 3038px;
    background: #BEDAFF;
}

.lines {

    width: 325px;
    height: 5px;
    left: 559px;
    top: 1110px;
    background: #BEDAFF;
    margin-left: 41%;
    margin-right: 50%;
    margin-top: 0px;
}
.ponto{

    width: 267px;
    height: 0px;
    left: 1400px;
    top: 175px;
    border: 1px solid #000000;
    margin: 0px;
}

.imagem {

    max-width: 198px;
    height: 280px;
    z-index: 2;
    position: relative;
    top: 400px;
}

.dados {

    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #777395;
}

.link {

    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: purple;
}
.nome{

    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}
.span {
    display: flex;
    flex-basis: 100%;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.img {
      
}
.banner{
    margin-top: 35px; 
    margin-right: auto;
    height: 750px;
}
.Cinema img{
    border: 5px;
    border-color: #143653;
 }
 .card{
     background: rgba(255, 237, 203, 0.35);
    width: auto;
    height: 565px;
    left: 0px;
    top: 0px;
    margin-bottom: 15px;
 }
 .sinop{
     font-family: 'Cinzel-decorative';
     font-style: normal;
     font-weight: 700;
     font-size: 45px;
     line-height: 61px;
     color: #777395;
 }
 .text{
     font-family: 'Titillium Web';
     font-style: normal;
     font-size: 35px;
     color: #000000;
 
 }
 .seta{
     position: absolute;
     top: 65px;
     left: 25px;
     width: 46px;
     height: 46px;
     
 }
 .paragrafo{
     font-family: 'Cinzel-decorative';
     font-style: normal;
     font-weight: 700;
     font-size: 28px;
     color: #000000;
 }
 .banner{
     width: auto;
     height: 700px;
     margin-left: 2% ;
     margin-right: auto ;
     margin-top: 50px;
 }
 .new{
     position: absolute;
     left: 1420px;
     top: 1025px;
 
     font-family: 'Titillium Web';
     font-style: normal;
     font-size: 20px;;
     color: #FFFFFF;
 
 
     background: rgba(0, 0, 0, 0.75);
     opacity: 0.8;
     border-radius: 80px;
     
 }
 hr{
     color: #BEDAFF;
     height: 3px;
 }
 .para{
     position: absolute;
     top: 170px ;
     left: 550px;
 }
 .img2{
     height: 500px ;
     max-width: 500px ;
     margin-top: 15px;
     margin-left: 30px;
 }
 
  h3.paragrafo {
     font-size: 45px;
     line-height: 15px;
     color: #777395;
 }
 .cart{
    width: 486px;
    height: 76px;
    background: #E98DAE;
    border-radius: 80px;
    position: absolute;
    left: 850px;
    top: 600px;
    

 }
 .cart p{
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 61px;
    color: #FFFFFF;
    position: absolute;
    left: 30px;
    top: -30px;
 }
 .cart img{
    position: absolute;
    left: 360px;
    top: 11px;
    width: 54px;
    height: 54px;
 }
 .arrow{
    width: 200px;
    height: 76px;
    background: #E98DAE;
    border-radius: 80px;
    position: absolute;
    left: 1400px;
    top: 600px;
 }
 .arrow p{
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 61px;
    color: #FFFFFF;
    position: absolute;
    left: 30px;
    top: -30px;
 }
 .arrow img{
    position: absolute;
    left: 113px;
    top: 11px;
    width: 54px;
    height: 54px;
 }
